/* Import Font dari Google Fonts (Plus Jakarta Sans & Space Mono) */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* PERBAIKAN: Import standar Tailwind v4 terbaru */
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
  }

  /* Warna blok teks saat di-block pakai mouse */
  ::selection {
    background-color: #10b981; 
    color: #000;
  }

  /* Bikin tag tertentu otomatis pakai font ala terminal/koding */
  code, pre, .font-mono {
    font-family: 'Space Mono', monospace;
  }
}

/* =========================================
   CUSTOM SCROLLBAR (Biar kelihatan premium)
   ========================================= */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
  border-left: 1px solid #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #10b981;
}

/* =========================================
   EFEK NOISE (Biar layar nggak terlalu mulus)
   ========================================= */
.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.04; /* Sangat tipis, cuma terasa kalau diperhatikan */
  pointer-events: none; /* Biar nggak ganggu klik tombol */
  position: fixed;
  inset: 0;
  z-index: 9999;
  /* Optimasi Performa (Hardware Acceleration agar scroll tidak nge-frame) */
  transform: translateZ(0);
  will-change: transform;
  contain: strict;
}